body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(255, 99, 71, 1);
}

@media (max-width: 600px) {
    body {
      background: lightblue;
    }

    header {
        display: none;
        /* list-style: none;
        width: 60%;
        justify-content: space-around; */
    }
    
  }