body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(255, 99, 71, 1);
}

/* button {
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(1.5);
    color: white;
} */

/* #btn-img {
    display: block;
    background: url('./images/icons/close.svg');
    width: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
} */

nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.90);
    display: flex;
    color: white;
    min-height: 8vh;
    /* border: 1px solid white; */
    align-items: center;
    /* justify-content: space-around; */
}

.container {
    position: absolute;
    top: 8vh;
    margin: 1rem;
    padding: 1rem;
}

.logo {
    display: flex;
    /* border: 1px solid white; */
    /* width: 50%; */
    margin-left: 1rem;
    align-items: center;
}

.logo_txt {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vh;
    /* border: 1px solid white; */
    letter-spacing: 0.5rem;
    color: rgba(255, 99, 71, 1);
    margin-left: 1rem;
    cursor: pointer;
}

.logo_img {
    /* border: 1px solid white; */
    width: 25%;
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-around;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
}

nav .active {
    color: rgba(255, 99, 71, 1);
}

nav li a:hover {
    color: rgba(255, 99, 71, 1);
    transform-origin: left;
    transition: 500ms ease-in;
}

.menu_checkbox {
    display: none;
}

#menu_open {
    display: none;
    transform: scale(1.5);
    margin-right: 1rem;
    cursor: pointer;
}

#menu_close {
    display: none;
    transform: scale(1.5);
    margin-right: 1rem;
    cursor: pointer;
    transition: transform 400ms ease-in-out;
}

.menu_checkbox:checked ~ ul {
    /* display: flex; */
    transform: scale(1,1);
}

.menu_checkbox:checked {
    /* display: flex; */
    transform: scale(1,1);
}


@media screen and (max-width: 600px) {
    .logo {
        display: block;
        width: 100%;
        text-align: center;
        /* cursor: pointer; */
    }

    nav ul {
        /* display: none; */
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.90);
        right: 0;
        height: 92vh;
        top: 8vh;
        flex-direction: column;
        align-items: center;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform 400ms ease-in;
    }

    #menu_open {
        display: block;
    }
    
    #menu_close {
        display: none;
    }
}
